<%= form_for @commute, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
        <%= f.label :commutetype_id, :class => 'control-label' %>
        <div class="controls">
            <%= f.collection_select :commutetype_id, Commutetype.all, :id, :name, :class => 'collection_select' %>
        </div>
    </div>
  <div class="control-group">
    <%= f.label :start, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :start, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :end, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label :distance, :class => 'control-label' %>
      <div class="controls">
          <%= f.number_field :distance, :class => 'number_field' %>
      </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                commutes_path, :class => 'btn' %>
  </div>
<% end %>
