<%- model_class = Commute -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:start) %></th>
      <th><%= model_class.human_attribute_name(:end) %></th>
      <th><%= model_class.human_attribute_name(:distance) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @commutes.each do |commute| %>
      <tr>
        <td><%= link_to commute.name, commute_path(commute) %></td>
        <td><%= commute.start %></td>
        <td><%= commute.end %></td>
        <td><%= commute.distance %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_commute_path(commute), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      commute_path(commute),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_commute_path,
            :class => 'btn btn-primary' %>
