<h1>Listing commutes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commutes.each do |commute| %>
  <tr>
    <td><%= commute.name %></td>
    <td><%= commute.start %></td>
    <td><%= commute.end %></td>
    <td><%= link_to 'Show', commute %></td>
    <td><%= link_to 'Edit', edit_commute_path(commute) %></td>
    <td><%= link_to 'Destroy', commute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commute', new_commute_path %>
